<!DOCTYPE html>
<html>
{% load static %}
<head>
<title>This is a working example for Uline</title>
</head>


<body onload="setup()">

<script src="{% static "dt/testScript.js" %}"></script>
<h2>This is proof of concept for an animated tracking app</h2>



<button type="button" onclick="hideDot()">Driver break button.</button>

<button type="button" onclick="showDot()">Driver return button.</button>


<p id="explanation">The red dot is meant to be like a bus, the rectangle the campus map</p>


</body>
</html>
